apptainer.enabled = true

params {
    outdir = "${projectDir}/output"
    dataDir = "${projectDir}/data"
    metadataDir = "${projectDir}/metadata"
    logsDir = "${projectDir}/logs"
    reportsDir = "${projectDir}/reports"

    tale_correction_jar = "${projectDir}/bin/TALEcorrection.jar"
    annotale_jar = "${projectDir}/bin/AnnoTALEcli-1.5.jar"
}

profiles {
    standard {
        includeConfig './configs/local.config'
    }

    slurm {
        includeConfig './configs/slurm.config'
    }
}

report {
    enabled = true
    overwrite = true
    file = "${params.reportsDir}/report.html"
}

manifest {
    name = 'dagsdags212/xoo-predictive-pathotyping'
    author = 'Jan Emmanuel Samson'
    mainScript = 'main.nf'
    version = '0.1.0'
}
