apptainer.enabled = true

// Configurable parameters.
params {
    // Directory paths.
    output_dir = "${projectDir}/output"
    data_dir = "${projectDir}/data"
    metadata_dir = "${projectDir}/metadata"
    logs_dir = "${projectDir}/logs"
    reports_dir = "${projectDir}/reports"

    // Metdata files.
    assembly_accessions = "${metadata_dir}/xoo_assembly_ids.txt"
    short_read_accessions = "${metadata_dir}/short_read_accessions.txt"
    long_read_accessions = "${metadata_dir}/long_read_accessions.txt"
    
    // Path to JAR files.
    tale_correction_jar = "${projectDir}/bin/TALEcorrection.jar"
    annotale_jar = "${projectDir}/bin/AnnoTALEcli-1.5.jar"
}

profiles {
    // Run on local machine.
    standard {
        includeConfig './configs/local.config'
    }
    // Run on a cluster.
    slurm {
        includeConfig './configs/slurm.config'
    }
}

report {
    enabled = true
    overwrite = true
    file = "${params.reports_dir}/report.html"
}

manifest {
    name = 'dagsdags212/xoo-predictive-pathotyping'
    author = 'Jan Emmanuel Samson'
    mainScript = 'main.nf'
    version = '0.1.0'
}
